<!DOCTYPE html>
<html lang="en" ng-app="cv" ng-controller="cv" ng-init="$root.lang='en'">
    <head>
        <meta charset="UTF-8">
        <title>CV</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
        <script src="cv.js"></script>
        <script src="cv-list.js"></script>
        <script src="cv-description.js"></script>

        <script type="text/ng-template" id="itemList">
<div ng-class="setClass('container', depth)">
    <div ng-class="setClass('label', depth)" ng-click="minimized = !minimized">
        <strong ng-bind="item.start_date" ng-if="item.start_date"></strong>
        <strong ng-bind="'&mdash; ' + item.end_date" ng-if="item.end_date && item.end_date !== item.start_date"></strong>
        <span ng-if="item.label">{{makeLabel(item.label, lang) }}</span>
    <span ng-if="item.details && isMinimized(minimized,depth) && depth > 1" class="w3-card w3-margin">&hellip;</span>
    </div>
    <span ng-if="item.url && !item.url.label">
        {{ item.url.before ? item.url.before : "" }}<a ng-href="{{item.url.target}}"> {{ item.url.target }}</a>
    </span>
    <span ng-if="item.url && item.url.label">
        {{ item.url.before ? item.url.before : "" }} <a ng-href="{{item.url.target}}"> {{ makeLabel(item.url.label) }}</a>
    </span>
    <div ng-if="item.details && !isMinimized(minimized,depth)" ng-class="setClass('details', depth)">
        <div ng-repeat="item in item.details" ng-include="'itemList'" ng-init="depth=depth+1; minimized = true"></li>
    </div>
</div>
        </script>
    </head>

    <body>
        <div class="w3-center w3-container w3-green w3-display-container">
            <p>
            <div class="w3-display-topright">
                <img ng-repeat="l in cv.lang" ng-src="{{l}}.svg" width="30px" class="w3-margin" ng-click="$root.lang = l"/>
            </div>
                <div class="w3-center w3-xxxlarge">
                    <img class="w3-circle" width="100px" src="photo.jpg" /></br>
                    Christophe Riolo </br>
                    <span class="w3-large" ng-controller="cv-description" ng-include="'itemList'" ng-init="minimized=false"></span>
                </div>
            </p>
        </div>
        <div ng-include="'itemList'" ng-controller="cv-list" ng-init="minimized=false"></div>
    </body>
</html>

